<div class="main-new">
  <div class="title-new">Change Registration Information</div>

  <div class="field-group">
    <%= form_with model: @user, url:  user_registration_path, method: :patch, local: true  do |f| %>
    <%= render "shared/error_messages", locals:{model:@user}, model: f.object %>

    <div class="field">
      <div class="label_name">
        <%= f.label :last_name, "苗字" %>
      </div>
      <div class="label_form_area">
        <%= f.text_field :last_name, placeholder: "例）田中", class:"label_form" %>
      </div>
   </div>

    <div class="field">
      <div class="label_name">
        <%= f.label :first_name, "名前", class:"label_name" %>
      </div>
      <div class="label_form_area">
        <%= f.text_field :first_name, placeholder: "例）太郎", class:"label_form"  %>
      </div>
    </div>

    <div class="field">
      <div class="label_name">
        <%= f.label :position, "リーダーの場合チェックしてください", class:"label_name" %>
      </div>
      <div class="label_form_area">
        <%= f.check_box :position, class:"label_checkbox"  %>
      </div>
    </div>

    <div class="field">
      <div class="label_name">
        <%= f.label :email %>
      </div>
      <div class="label_form_area">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="field">
      <div class="label_name">
        <%= f.label :現在のパスワード %>
      </div>
      <div class="label_name">
        <%= f.password_field :current_password, autocomplete: "current-password", class:"text-form" %>
      </div>
  </div>

    <div class="field">
      <div class="label_name">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        (<%= @minimum_password_length %> 文字以上)
        <% end %><br />
      </div>
      <div class="label_name">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="field">
      <div class="label_name">
        <%= f.label :password_confirmation %>
      </div>
      <div class="label_form_area">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="image-field">
      <div class="label_name">
        <%= f.label :image, "アイコン写真" %>
      </div>
      <div class="label_form_area">
        <%= f.file_field :image, class:"image-btn" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "登録情報変更", class:"action-btn" %>
    </div>
    <% end %>
  </div>
    
    <%= link_to "Top page", root_path %>
</div>