<%= render 'shared/header'%>

<div class="user-page-main">
  <%# ユーザー情報やメニューバー表示 %>
  <div class="user-page-left">
    <%# メンバーのプロフィール表示 %>
    <ul class='member-profile'>
      <li class= 'member-image-class'>
        <% if @user.image.attached? %>
          <%= image_tag @user.image, class:"member-image" %>
        <% else %>
          <%= image_tag '/images/saru.png', class:"member-image" %>
        <% end %>
      </li>

      <li class='member-position-class'>
        <% if @user.position == true %>
          リーダー
        <% end %>
      </li>

      <li class='member-name-class'>
        名前：<%= @user.last_name%> <%= @user.first_name%>
      </li>

      <li class='member-name-class'>
        email：<%= @user.email%> 
      </li>

    </ul>

    <%# ユーザー情報の編集 %>
    <div class="user-information-edit">
      <%= link_to "ユーザー登録情報の変更",  edit_user_registration_path, class:"user-information-edit_btn" %>
    </div>

    <%# 勤務時間・帰宅時間登録・メニューバーの表示 %>
    <div class="schedule-total-btn-class">
        <ul class=welcome-contents-list>
          <li><%= link_to "スケジュール登録", new_schedule_path, class:"user-left-content" %> </li>
          <li><%= link_to "勤務時間登録", new_total_path, class:"user-left-content" %> </li>
          <li><%= link_to "To Do Lists", tasks_path, class:"user-task-left-content" %> </li>
          <li><%= link_to "Member Status", schedules_path, class:"user-task-left-content" %> </li>
          <li><%= link_to "Chat", new_comment_path, class:"user-task-left-content" %> </li>
        </ul>
    </div>

  </div>

  <%# カレンダー表示 %>
  <div class="user-page-right">

    <%# カレンダーで自分が作業者のタスク表示 %>
    <div class="task-calendar-class">
      <div class="task-calendar-title">
        ■ My Task
      </div>
      <div class="task-calendar-list">
        <%= month_calendar events: @tasks do |date, tasks| %>
          <%= date.day %>
          <% tasks.each do |task| %>
            <div class="schedule-total-calendar-list">
              <%= link_to "#{task.name}", edit_task_path(task.id), class:"task-calender-list-btn" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="schedule-total-class">
      <%# カレンダーで自分の帰宅予定時間表示 %>
      <div class="schedule-calendar-class">
        <div class="schedule-calendar-title">
            ■ My 帰宅予定時間
        </div>
        <div class="schedule-total-calendar-lists">
          <%= month_calendar events: @schedules do |date, schedules| %>
            <%= date.day %>
            <% schedules.each do |schedule| %>
              <div class="schedule-total-calendar-list">
                <%= link_to "#{schedule.time_limit.name}", edit_schedule_path(schedule.id), class:"task-calender-list-btn" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <%# カレンダーで自分の勤務時間表示 %>
      <div class="total-calendar-class">
        <div class="total-calendar-title">
            ■ My 勤務時間
        </div>
        <div class="schedule-total-calendar-lists">
          <%= month_calendar events: @totals do |date, totals| %>
            <%= date.day %>
            <% totals.each do |total| %>
              <div class="schedule-total-calendar-list">
                <%= link_to "#{total.working_hour}hr", edit_total_path(total.id), class:"task-calender-list-btn" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>

<%= render 'shared/footer'%>