<%# 帰宅時間を登録する %>
<div class="main-schedule-new">
  <div class="title-new">Registration of Today's Schedule</div>

  <div class="task-field-group">
    <%= form_with model: @schedule, url: schedules_path, local: true  do |f| %>
    <%= render "shared/error_messages", locals:{model:@schedule}, model: f.object %>

    <%# 日付設定 %>
    <div class="task-field">
      <div class="task-label_name">
        <%= f.label :date, "日付", class:"label_name" %>
      </div>
      <div class="label_form_area">
        <%= f.date_select :date, class:"date-box"  %>
      </div>
    </div>

    <%# 帰宅時間の登録 %>
    <div class="task-field">
      <div class="task-label_name">
        <%= f.label :帰宅時間 %>
      </div>
      <div class="label_form_area">
        <%= f.collection_select(:time_limit_id, TimeLimit.all, :id, :name, {}, {class:"select-box"}) %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "スケジュールを登録", class:"schedule-action-btn" %>
    </div>
    <% end %>
  </div>
    <%= link_to "Top page", root_path %>
</div>