<%= render 'shared/header'%>

<div class=welcome-main>
  <div class=welcome-title>
    menuを選択して下さい
  </div>
  <div class=welcome-contents>
    <ul class=welcome-contents-list>
      <li><%= link_to "To Do Lists", tasks_path, class:"welcome-content" %> </li>
      <li><%= link_to "Member Status", schedules_path, class:"welcome-content" %> </li>
      <li><%= link_to "Chat", new_comment_path, class:"welcome-content" %> </li>
    </ul>
  </div>
</div>

<%= render 'shared/footer'%>