<%# 勤務時間の登録 %>
<div class="main-total-new">
  <div class="title-new">Edit of Working hours</div>

  <div class="task-field-group">
    <%= form_with model: @total, url: total_path, method: :patch, local: true  do |f| %>
    <%= render "shared/error_messages", locals:{model:@total}, model: f.object %>

    <div class="task-field">
      <div class="task-label_name">
        <%= f.label :start_time, "日付", class:"label_name" %>
      </div>
      <div class="label_form_area">
        <%= f.date_select :start_time, class:"date-box"  %>
      </div>
    </div>

    <div class="task-field">
      <div class="task-label_name">
        <%= f.label :勤務時間（半角数字で入力してください） %>
      </div>
      <div class="label_form_area">
        <%= f.text_field :working_hour, class:"total-form-area" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "勤務時間を登録", class:"total-action-btn" %>
    </div>
    <% end %>
  </div>
    <%= link_to "Top page", root_path %>
</div>